 



<%= form_with model: @student do |form|      %>

<% if @student.errors.any? %>
     <% @student.errors.full_messages.each do |message| %>
     <p><%= message %></p>
<%end%>
<%end%>
    <div class ="comtaine">
     <div class ="row justify-content-md-center">
     <div class = "col-4 mt-4">
   
<div>
<%= form.label  :student_id %><br>
<%= form.number_field :student_id %>
</div>




<div>
<%= form.label  :student_name   %><br>
<%= form.text_field :student_name %>
</div>

<div>
<%= form.label  :email   %><br>
<%= form.email_field :email %>

</div>

<div><br>
<%= form.submit %>
</div>

<%end%>