 

           <div class = "container">

                     <%= render "shared/errors" , obj: @teacher %>
            <div class="row justify-content-center">
              <div class="col-5">
          <%= form_for @teacher, html: { class: "shadow p-3 mb-3 bg-info rounded" } do |f| %>
          
           <div class="form-group row">
           <%= f.label :name, class: "col-2 col-form-label text-light" %>
           <div class="col-5">
            <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "Enter the name" %>
          </div>
        </div>

       

        <div class="form-group">
          <%= f.label :email , class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.email_field :email,  class: "form-control shadow rounded", placeholder: "Enter the email" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :password , class: "col-2 col-form-label text-light" %>
          <div class="col-10"> 
            <%= f.password_field :password,  class: "form-control shadow rounded", placeholder: "Enter the password" %>
          </div>
        </div>




               <div class="field mt-4" >
                <%= f.label :profile_picture %>
                <%= f.file_field :profile_picture %>
                 <%= render 'shared/errors', obj: @teacher, field: :profile_picture %>
              </div>

            
        

      
        

         <div class="form-group row justify-content-center">
          <%= f.submit class: "btn btn-outline-light  mt-2 btn-sm" %>
        </div>
        </div>
      <% end %> 
    </div>
    <div class="form-group row justify-content-center col-2 text-light">
      
    <%= link_to 'Back', teachers_path  ,class:"btn btn-outline-light  text-info"  %>
  </div>
  </div>
</div>

